{% extends 'basic.html' %}
{% block title %} Resume {% endblock title %}
{% load static %}
{% block stylecss %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock stylecss %}

{% block body %}

<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>DEEPA PALANISAMY</h2>
          <p>Programmer Analyst</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">PROFILE</h3>
            <div class="resume-item pb-0">
			<h4>Technical System Analyst-Pega</h4>
              <p>Dedicated IT professional with 1 year 8 months of hands-on experience in incident management and service request handling. Providing technical support and effective problem resolution to customers through ticket management using ServiceNow.  Seeking a challenging role where I can apply my analytical skills and hands-on experience in identifying root causes of issues, along with my proficiency in Pega, Python, and SQL. Good listener and committed to continuous learning and eager to contribute expertise in a dynamic team environment. I aspire to contribute to a forward-thinking team while continuously expanding my expertise in advanced technologies.</p>
              <ul>
                <li>249, Dharapuram, Tiruppur, TN-642206</li>
                <li>9566542401</li>
                <li>deepap667@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.E. Computer Science & Engineering</h4>
              <h5>2017 - 2021</h5>
              <p><em>V.S.B Engineering College, Karur</em></p>
            </div>
            <div class="resume-item">
              <h4>HSC</h4>
              <h5>2017</h5>
              <p><em>Veveaham Higher Secondary School, Dharapuram</em></p>
            </div>
			  <div class="resume-item">
              <h4>SSLC</h4>
			  <h5>2015</h5>
              <p><em>MSN Higher Secondary School, Govindhapuram</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">EXPERIENCE SUMMARY</h3>
            <div class="resume-item">
              <h4>Programmer Analyst</h4>
              <h5>2021 - 2023</h5>
              <p><em>Cognizant Technology Solutions, Chennai, India </em></p>
              <ul>
                <li>Managed incident management and service request processes, providing effective technical support and problem resolution for customers via tickets using ServiceNow.</li>
                <li>Actively took part in the investigation and in finding the root cause of the issue. Clearly documented every detail and published a KB article for the same.</li>
                <li>Finding the root cause of issue by analyzing server logs or by tracing the session.</li>
                <li>Resolved time-critical file generation issues by utilizing a deep understanding of agents and listeners, ensuring uninterrupted business operations.</li>
                <li>Actively engaged in weekend activities for timely file generation in response to change requests.</li>
              </ul>
            </div>
            <h3 class="resume-title">CERTIFICATIONS</h3>
            <div class="resume-item">
              <ul>
                <li>Pega Certified System Architect 8.6</li>
				  <li>Python with Django (Login 360)</li>
              </ul>
            </div>
			<h3 class="resume-title">SKILLS</h3>
            <div class="resume-item">
              <ul>
                <li>Technologies: Pega 8.6, Python, HTML and CSS, SQL </li>
				<li>Platforms: DB Visualizer, Pega, ServiceNow, Microsoft Excel </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
{% endblock body %}